<mat-form-field appearance="fill">
    <mat-label >Ad</mat-label>
    <input type="text" matInput required #textName>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label >Stok Sayısı</mat-label >
    <input type="number" matInput required #textStock>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label >Fiyat</mat-label >
    <input type="number" matInput required #textPrice>
  </mat-form-field>



  <button  (click)="Create(textName,textStock,textPrice)" class="addbutton" mat-raised-button color="primary">Kullanıcı Ekle</button>
  <app-file-upload [options]="options"></app-file-upload>